<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients, "Người nhận" %>
      <%= f.select(:recipients, User.all.collect {|p| [ p.name, p.id ] }, {}, { class: "chosen-select form-control" })%>
    </div>
    <div class="form-group">
      <%= f.label :subject, "Chủ đề" %>
      <%= f.text_field :subject, placeholder: "Chủ đề", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message, "Tin nhắn" %>
      <%= f.text_area :body, class: 'form-control', rows: 4  %>
    </div>
    <%= f.submit "Gửi tin", class: "btn btn-success" %>
<% end %>
