<div id="comment">
  <div class="col-md-12">
    <% @comments.each do |comment| %>
      <div class="col-md-2" >
        <%= comment.user.name %>
      </div>
      <div class="col-md-10" >
        <p><%= comment.content %></p>
      </div>
    <% end %>
    <%= form_for [@room,Comment.new], remote: true do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.text_area :content, class: "form-control" %>
      <%= f.submit "Bình luận", class: "btn" %>
    <% end %>
  </div>
</div>
