
<%= render 'shared/error_messages', object: f.object %>
<div class="col-md-12" >
  <div class="col-md-6" >
    <%= f.label :Tên_của_phòng %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :Miêu_Tả %>
    <%= f.text_area :desc, rows: 4 , class: "form-control"%>
    <br/>
  </div>
  <br/>
</div>

