<%= provide(:title, "thêm phòng") %>
<div id="room-new">
  <h1>Thêm thông tin phòng</h1>
  <div class="row" >
    <%= form_for [current_user, @room] do |f| %>
      <div id = "room-infor" >
        <div class="col-md-6" >
          <div class="form-group" >
            <%= f.label :Tên_của_phòng %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group" >
            <%= f.label :Miêu_Tả %>
            <%= f.text_area :description, rows: 4 , class: "form-control"%>
          </div>
          <div class="form-group" >
            <%= f.label :home_type, "Loại nhà" %>
            <%= f.select :home_type, Room.home_types.keys,{},{ id: "home-type"} %>
          </div>
          <div class="form-group" >
            <%= f.label :price, "Gía phòng 1 đêm: " %>
            <%= f.number_field :price, step: "any" %><span> &nbsp;VND</span>
          </div>
          <div class="form-group" >
            <%= f.label :number_person, "Số người có thể ở:" %>
            <%= f.number_field :number_person, step: 1 %>
          </div>
          <div class="form-group inline" >
            <%= f.label :room_type, "Loại phòng" %>
            <%= f.select :room_type, Room.room_types.keys,{},{id: "room-type"}%>
          </div>
          <div class="form-group" >
            <%= f.label :province, "Tỉnh thành" %>
            <%= f.select :province, options_for_select(Room::PROVINCES),{},{id: "province"} %>
          </div>
          <div class="form-group" >
            <%= f.label :rule, "Quy định của phòng" %>
            <%= f.text_area :rule, rows: 3, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6" >
          <h2>Trang thiết bị của phòng</h2>
          <div class="form-group" >
            <%= f.check_box :internet %>
            <%= f.label :internet %>
          </div>
          <div class="form-group" >
            <%= f.check_box :tv %>
            <%= f.label :tv, "Ti vi" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :wifi %>
            <%= f.label :wifi, "Wi fi" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :kid %>
            <%= f.label :kid, "Trẻ em" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :aircondition %>
            <%= f.label :aircondition, "Điều hòa" %>
          </div>
          <div class="form-group"  >
            <%= f.check_box :elevator %>
            <%= f.label :elevator, "Thang máy" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :kitchen %>
            <%= f.label :kitchen, "Bếp" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :heating %>
            <%= f.label :heating, "Lò sửa" %>
          </div>
          <div class="form-group" >
            <%= f.check_box :computer %>
            <%= f.label :computer %>
          </div>
        </div>
      </div>
      <div id ="room-maps" >
        <%= render "form_maps", f: f %>
      </div>
      <br/>
      <center>
        <%= f.submit "Tạo phòng", class: "btn btn-primary"%>
      </center>
    <% end %>
  </div>
</div>
